.mainContent
{    
    border:solid 1px #542D03;
    float:left;
    clear:right;
    padding:5px;
    margin:3px;
    width:700px;
}

.control.header ul li 
{
	
	float:left;
	width:450px;
}