body
{
    background-color:#F0F0F0;
    color:#468259;
    font-family:Tahoma, Arial;
    margin:0;
    padding:0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a 
{
    color:#525150;
    font-size:12px;
    text-decoration:none;
}
a:hover 
{
    text-decoration:underline;
}