body
{
    font-family:Calibri, Tahoma, Arial;
    margin:0;
    padding:0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a 
{    
    font-size:12pt;
    text-decoration:none;
}
a:hover 
{
    text-decoration:underline;
}



